<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="HoursBooking"
    Manufacturer="HoursBooking"
    Version="$(var.ProductVersion)"
    UpgradeCode="70BDBA33-0B20-41AB-9A97-61B5A595C988"
    Language="1033"
    Scope="perMachine"
    InstallerVersion="500">

    <MajorUpgrade
      DowngradeErrorMessage="A newer version of HoursBooking is already installed." />

    <MediaTemplate EmbedCab="yes" />

    <Feature Id="MainFeature" Title="HoursBooking" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Package>

  <Fragment>
    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="HoursBooking" />
    </StandardDirectory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Files Include="$(var.PublishDir)**" />
    </ComponentGroup>
  </Fragment>
</Wix>
